# ---------------------------
# Core
# ---------------------------
numpy
pydantic
python-dotenv
rich
tqdm
orjson

# ---------------------------
# OpenAI API
# ---------------------------
openai>=1.30.0

# ---------------------------
# RAG
# ---------------------------
faiss-cpu

# ---------------------------
# LangChain / LangGraph
# ---------------------------
langchain>=0.2.12
langchain-community>=0.2.12
langgraph>=0.2.0

# ---------------------------
# Data
# ---------------------------
datasets